.radio {
    display: block;
    position: relative;
    padding-left: 35px;
    padding-top: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
  }
  .radio input {
    position: absolute;
    cursor: pointer;
  }
  
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #091833;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #0abdc6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    color: #ea00d9;
  }
  
  body {
    background: #133e7c;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Press Start 2P', sans-serif;
  }
  label {
    font-size: 18px;
    color: #ea00d9;
  }
  #form {
    width: 400px;
    font-family: 'Press Start 2P', sans-serif;
    padding: 10px;
    font-size: 18px;
    outline:none;
    background: linear-gradient(to left top, #000, #133e7c) fixed;
    border: 4px solid #ea00d9;
    color: rgba(255,255,255,0.8);
    margin: 5px;
    transition: all 0.5s;
  }
  #formNumber {
  width: 100px;
    font-family: 'Press Start 2P', sans-serif;
    padding: 10px;
    font-size: 18px;
    outline:none;
    background: linear-gradient(to left top, #000, #133e7c) fixed;
    border: 4px solid #ea00d9;
    color: rgba(255,255,255,0.8);
    margin: 5px;
    transition: all 0.5s;
  }
  
  #form:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border: 4px solid #fcec0c;
  }
  #form:focus {
    border: 4px solid #fcec0c;
  }
  
  #button {
    width: 125px;
    font-family: 'Press Start 2P', sans-serif;
    padding: 11px;
    font-size: 15px;
    font-weight:bold;
    margin: 5px;
    outline:none;
    background: linear-gradient(to left top, #000, #133e7c) fixed;
    border: 4px solid #ea00d9;
    color: rgba(255,255,255,0.8);
  }
  #buttonAdd {
    width: 250px;
    height: 125px;
    font-family: 'Press Start 2P', sans-serif;
    padding: 11px;
    font-size: 15px;
    font-weight:bold;
    margin: 5px;
    outline:none;
    background: linear-gradient(to left top, #000, #133e7c) fixed;
    border: 6px solid #ea00d9;
    color: rgba(255,255,255,0.8);
  }
  #buttonAdd:hover {
    border: 4px solid #fcec0c;
  }
  
  #buttonAdd:focus {
    border: 4px solid #fcec0c;
  }
  
  #button:hover {
    border: 4px solid #fcec0c;
  }
  
  #button:focus {
    border: 4px solid #fcec0c;
  }
  p {
    font-size: 1.2em;
    color: #ea00d9;
  }
  
  h1 {
    font-size: 2.5em;
    color: #ea00d9;
    text-align: center;
  }
  h2 {
    font-size: 1.5em;
    color: #fcec0c;
    text-align: center;
  }
  h3 {
    font-size: 1.5em;
    color: #fcec0c;
  }
  h4 {
      text-align: center;
      color: #ea00d9;
  }
  p.card-text {
      font-size: 0.6em;
      color: #0abdc6;
  }
  
  .contact {
    padding-left: 25rem;
    padding-top: 15rem;
  }
  .contactUser {
    padding-bottom: 10px;
    height: 100px;
  }
  .contactText {
    vertical-align: middle;
    line-height: 100px; 
  }
  .image2 {
    float: left;
    height: 100px;
    width: 100px;  
    image-rendering: pixelated;
  }
  
  .queryform {
    background-color: #091833;
  }
  .querybox{
    margin: auto auto;
    width: fit-content;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #091833;
  }
  
  .tablecontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 4rem;
    padding-top: 1rem;
  }
  .tableitem {
    border: 4px solid #fcec0c;
    padding: 1rem;
  }
  .image {
    height: 300px;
    width: 300px;  
    image-rendering: pixelated;
  }
  .imagebig {
    height: 400px;
    width: 400px;  
    image-rendering: pixelated;
  }
  .imgdiv {
    text-align: center;
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
  }
  
  .card {
    /* Add shadows to create the "card" effect */
    border: 4px solid #ea00d9;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    height: 450px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border: 4px solid #fcec0c;
  }
  
  /* Add some padding inside the card container */
  .container {
    background-color: #091833;
    padding: 2px 16px;
    height: 146px;
  }
  