<link rel="stylesheet" href="/static/home.css" type="text/css" />
<!DOCTYPE html>
<html>
<head>
    <div class="topnav">
        <a href="/search">Find Wines</a>
        <a href="#contact">Contact</a>
      </div>
</style>
</head>
<body>

<h1>Winey</h1>
<p>Welcome to a world of wine</p>

<div class="search-box">
  <form action="{{ url_for('search') }}" method="post">
    <input type="text" name="search" placeholder="Search for wines...">
    <input type="submit" value="Search"><br>
    <label class="">Description<input type="radio" id="description" name="option" value="description" required/>
    <label class="">Province<input type="radio" id="province" name="option" value="province" />
  </form>
  
</div>

</body>
</html>